.home-page {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    color: #ccc;
    background-color: #2e2e2e;
    box-sizing: border-box;
    margin-top: 100px;
}

.welcome-container {
    position: relative;
    top: 20px;
    left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 300px;
    z-index: 10;
}

.home-page h1 {
    color: #fff;
    font-size: 3em;
    margin-bottom: 30px;
    text-align: left;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
}

.user-firstname, .user-lastname {
    color: #007bff;
}

.task-container {
    flex: 2;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.home-page section {
    margin-bottom: 30px;
    background-color: #2b2b2b;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.home-page section h2 {
    color: #fff;
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
}

.home-page section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.home-page section ul li {
    padding: 15px;
    border-bottom: 1px solid #444;
    color: #ddd;
    transition: background-color 0.3s ease;
}

.home-page section ul li:hover {
    background-color: #333;
}

.buttons-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 20px;
    right: 20px;
    gap: 20px;
}

.buttons button {
    background-color: #2b2b2b;
    color: #ccc;
    border: 1px solid #555;
    padding: 16px 32px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    border-radius: 5px;
    font-size: 1.2em;
}

.buttons button.create-new {
    background-color: #007bff;
    color: #fff;
    border: none;
}

.buttons button.create-new:hover {
    background-color: #0056b3;
}

.buttons button:hover {
    background-color: #444;
    color: #fff;
}

.buttons button:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.5);
}
