/* General Styles for Logistics Dashboard */
.logistics-container {
    padding: 20px;
    background-color: #f5f5f5;
}

.stats-card {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.stats-card h2 {
    margin-top: 0;
    font-size: 18px;
    color: #333;
}

.stats-card p {
    font-size: 16px;
    margin: 5px 0;
    color: #555;
}

/* Styles for Recharts Components */
.recharts-wrapper {
    margin-bottom: 20px;
    background: #fff;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Chart Titles */
.chart-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
    text-align: center;
}

/* Styling for Pie Chart Labels */
.recharts-pie-label-text {
    font-size: 14px;
    font-weight: bold;
    fill: #555;
}

/* Tooltips */
.recharts-tooltip-wrapper {
    background: rgba(0, 0, 0, 0.75) !important;
    border-radius: 3px;
    padding: 10px;
}

.recharts-tooltip-label {
    color: #fff !important;
}

.recharts-tooltip-item {
    color: #ddd !important;
}

.logistics-dashboard-container {
    position: relative;
}

.back-button-container {
    position: absolute;
    top: 10px;
    left: 0;
}

.back-button {
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    font-size: 24px;
    color: #007bff;
    padding: 12px 12px;
    margin-left: -300%;
    margin-top: -10%;
}

.back-button svg {
    font-size: 40px;
}

