.task-board {
    width: 140%;
    max-width: 1250px;
    background: #3c3c3c;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    margin-left: -170px;
}

.task-board h2 {
    margin: 0;
    color: #e0e0e0;
}

.task-board button {
    background-color: #007bff;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    font-size: 16px;
    font-family: Poppins, sans-serif;
}

.task-board button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}
